save-exact=true
@defi-wonderland:registry=https://npm.pkg.github.com
@defi-wonderland/interop:registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}