save-exact=true
@defi-wonderland/interop:registry=https://registry.npmjs.org/
@defi-wonderland/interop-addresses:registry=https://npm.pkg.github.com
@defi-wonderland/interop-cross-chain:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}