name: Publish Cross-Chain Package

on:
    workflow_call:
    workflow_dispatch:

jobs:
    publish:
        runs-on: ubuntu-latest
        environment: Development
        defaults:
            run:
                working-directory: packages/cross-chain
        steps:
            - name: Check out github repository
              uses: actions/checkout@v4

            - name: Use pnpm
              uses: pnpm/action-setup@v4
              with:
                  run_install: false

            - name: Use Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Use foundry
              uses: foundry-rs/foundry-toolchain@v1
              with:
                  version: nightly

            - name: Remove internal dependencies
              run: pnpm remove @defi-wonderland/interop-addresses

            - name: Install cross-chain dependencies from repository
              run: pnpm i @defi-wonderland/interop-addresses
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run Build
              run: pnpm build

            - name: Publish
              run: npm publish --access public --tag canary
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
