name: Publish SDK

on:
    workflow_call:
    workflow_dispatch:

jobs:
    publish:
        environment: Development
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: apps/sdk
        steps:
            - name: Check out github repository
              uses: actions/checkout@v4

            - name: Setup environment
              uses: ./.github/actions/setup
              with:
                  working-directory: ../..

            - name: Remove internal dependencies
              run: pnpm remove @defi-wonderland/interop-addresses && pnpm remove @defi-wonderland/interop-cross-chain

            - name: Install cross-chain dependencies from repository
              run: pnpm i @defi-wonderland/interop-addresses && pnpm i @defi-wonderland/interop-cross-chain
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run Build
              run: pnpm build

            - name: Publish
              run: npm publish --access public --tag canary
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
