name: Playwright Tests

on:
    workflow_call:

jobs:
    e2e:
        name: E2E tests
        timeout-minutes: 60
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: examples/ui
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3
              with:
                  version: 9

            - uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install
              working-directory: .

            - name: Build packages
              run: pnpm build
              working-directory: .

            - name: Install Playwright Browsers
              run: pnpm exec playwright install --with-deps

            - name: Run Playwright tests
              run: pnpm exec playwright test
              env:
                  NEXT_PUBLIC_E2E: "true"

            - uses: actions/upload-artifact@v4
              if: always()
              with:
                  name: playwright-report
                  path: examples/ui/playwright-report/
                  retention-days: 30
