name: Playwright Tests

on:
    workflow_call:

jobs:
    e2e:
        name: E2E tests
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            - name: Check out github repository
              uses: actions/checkout@v4
              with:
                  fetch-depth: 1

            - name: Setup environment
              uses: ./.github/actions/setup

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Install Playwright Browsers
              run: pnpm exec playwright install --with-deps

            - name: Run Playwright tests
              run: pnpm exec playwright test

            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: playwright-report
                  path: playwright-report/
                  retention-days: 30
